$header: #3f11ad;
$mainmenu: #f7f8fb;
$footer: #444;

$violet: #79589f;
$violet1: #1C1C28;
$blue1: #2D399B;
$violet3: #231b3c;
$violet4: #263084;
$gray1: #666673;
$gray2: #eef1f6;
$red1: #E60F41;
$green1: #2ECC71;
