* {
    -webkit-font-smoothing: subpixel-antialiased !important;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size: calc(1em * 0.625);
    /* fix */
}

body {
    font-family: 'Raleway', sans-serif;
    color: $violet3;
    background-color: #f9f9f9;
}

.App {
    text-align: center;
}

.wrapper {
    .wrapper-content {
        width: 100%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}